html, body, .layout {
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  box-sizing:border-box;
  margin: 0px;
  padding: 0px;
  background-color:black;
  color: white;
  font-size: 16px;
}
body * {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", helvetica, sans-serif;
}

input, textarea, select,button {
  border: none;
  padding: 0.5em;
  font-size: 15px;
  line-height: 1.2em;
  width: 100%;
  color:green;
  background: black;
  -webkit-appearance: none;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));*/
}

.layout {
  padding-top: 64px;
  padding-bottom: 64px;
}
.panel {
  padding-left: 1em;
  padding-right: 1em;
  width:100%;
  position: absolute;
  box-sizing:border-box;
  left:0px;
}

.panel.bottom {
  border-top: solid 1px green;
  bottom:0px;
  height:64px;
}
.commands {
  height:100%;
}
.command {
  height:100%;
}
.panel.top{
  border-bottom: solid 1px green;
  top:0px;
  height:64px;
}
.main {
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
svg {
  /*border: solid 1px white;*/
  box-sizing:border-box;
  margin: 0px;
  padding: 0px;
  width:100%;
  height:100%;
}

.cell {
  fill: blue;
  stroke: white;
}

.cell.selected {
  fill:yellow;
}
.pattern .cell {
  fill: yellow;
  opacity:0.5;
  stroke:yellow;
  stroke-width:0.2px;
  stroke-dasharray:0.1;
}
.debug {
  fill:none;
  stroke: red;
}
.debug.window {
  stroke: red;
}

.debug.selection {
  stroke: yellow;
}
#qr-code {
  height:150px;
  position:absolute;
  bottom:0px;
  right:0px;
}
#qr-code svg {
  height:90%;
  background:white;
}
#qr-code path {
  fill: green;
  stroke: none;
}
